<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDN_ZDrZCvGIivXQCuhWdy7wNztqtMjf34</string>
	<key>GCM_SENDER_ID</key>
	<string>725431248263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ndeEmail</string>
	<key>PROJECT_ID</key>
	<string>chating-e5b0b</string>
	<key>STORAGE_BUCKET</key>
	<string>chating-e5b0b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725431248263:ios:762882593e448ef6531f22</string>
	<key>DATABASE_URL</key>
	<string>https://chating-e5b0b-default-rtdb.firebaseio.com</string>
</dict>
</plist>